<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Private Chat</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<header class="homebanner">

			<h1 class="homebannertext">
				<a href="#" id="logo">Private<span>Chat</span></a>
			</h1>

	</header>

	<section>

		<div class="homesection">

			<div class="node">
				<img src="img/CATCHAT-logo-design.jpg" alt="nodelogo" id="nodelogo"/>
				<h2 id="chat">powered Malkeet S Sarwara</h2>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>

			<div class="tutorial">
				
			</div>
		</div>

	</section>

</body>
</html>
